[Desktop Entry]
Type=Application
Name=Installer avec Weft
NoDisplay=true
Exec=/usr/bin/weft-installer %f
Icon=system-software-install
MimeType=application/vnd.microsoft.portable-executable;application/x-ms-dos-executable;application/x-msdownload;application/x-msi;
